{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
      
      .affix {
        top: 0;
        width: 100%;
        z-index: 9999 !important;
      }
    
      .affix + .container-fluid {
        padding-top: 70px;
      }
    </style>

    {% if title %}
        <title>Forum - {{ title }}</title>
    {% else %}
        <title>Forum</title>
    {% endif %}
</head>
  <body>
    <header class="site-header">
      <script>
        var w = window.innerWidth;
        var w_sw = 700; //switch width
        
        if (w > w_sw) {
            document.write("<div class='container-fluid' style='height:30px;'>");
            document.write("</div>");
            document.write("<nav class='navbar navbar-default' data-spy='affix' data-offset-top='30'>");
        } else {
            document.write("<nav class='navbar navbar-default' >"); //for mobile
        }
      </script>
        <div class="container-fluid" style="height:0px;">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'forum-home' %}">Simpleforum</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'forum-home' %}">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Latest post <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'forum-latest_all' %}">All</a></li>
                <li><a href="{% url 'forum-latest_topics' %}">Topics</a></li>
                <li><a href="{% url 'forum-latest_comments' %}">Comments</a></li>
              </ul>
            </li>
            <li><a href="{% url 'forum_topic-create' %}">New topic</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a>{{user}}</a></li>
            <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
      
  </body>
</html>
