{% extends "forum/base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        {% if user.is_authenticated %}
        <h1>Index</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Post type</th>
                    <th>Date posted(UTC)</th>
                    <th>Last update(UTC) / Update</th>
                <th>Open</th>
                </tr>
            </thead>
            {% for post in posts %}
                <tbody id="myTable">
                    <tr>
                        <td>{{ post.title }}</td>
                            <td>{{ post.author }}</td>
                            <td>{{ post.post_type }}</td>
                            <td>{{ post.date_posted|date:"H:i d F, Y" }}</td>
                            <td><a href="#">{{ post.date_last_save|date:"H:i d F, Y" }}</a></td>
                            <td><a href="#">Open</a></td>
                    </tr>
                </tbody>	
            {% endfor %}		
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
    
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>   
                    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>	
        {% else %}
        <h1>Index Page</h1>
        <p>Simpleforum</p>
        {% endif %}
    </div>
</div>
{% endblock content %}