{% extends "forum/base.html" %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="well"><h2>Forum - {{ title }}</h2></div>
        {% for post in posts %}
            <div class="media">
                <div class="well">
                    <div class="media-left">
                        <img src="img_avatar1.png" class="media-object" style="width:40px">
                    </div>
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'forum-home'  %}">{{ post.post_type }}</a>
                            <small class="text-muted">{{ post.date_posted|date:"H:i d, m, Y" }}</small>
                            <br>
                            <a class="mr-2" href="#">{{ post.author }}</a>
                        </div>
                        <h2><a class="article-title" href="{% url 'forum_comment-create' post.id %}">{{ post.title }}</a></h2>
                        <div class="well">
                            <p class="article-content">{{ post.content | safe }}</p>
                        </div>
                        <a class="mr-2" href="{% url 'forum_comment-create' post.id %}">Comment</a>
                        <a class="mr-2" href="{% url 'forum_thread' post.id %}">Open the message thread</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
				
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
	
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>   
                    <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock content %}