{% extends "forum/base.html" %}
{% block content %}
<p id="topic_new"></p>
<script>
    if (w > w_sw) {
        document.write("<div class='container'>");
    }
</script>
    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Forum new topic</legend>
                {{ form.media }}
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Submit</button>
                <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'forum-home'  %}">Return to Index</a>
            </div>
        </form>
    </div>
<script>
    if (w > w_sw) {
        document.write("</div>");
    }
</script>
{% endblock content %}