{% extends "forum/base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>{{ title }}</h1>
		<br>
		<ul class="list-group" style="width:300px">
			<li class="list-group-item list-group-item-info"><b> Username :</b></li>
			<li class="list-group-item">{{ user_info.username }}</li>
			<li class="list-group-item list-group-item-info"><b>User email:</b></li>
			<li class="list-group-item">{{ user_info.email}}</li>
			<li class="list-group-item list-group-item-info"><b>Fistname:</b></li>
			<li class="list-group-item">{{ user_info.first_name }}</li>
			<li class="list-group-item list-group-item-info"><b>Lastname:</b></li>
			<li class="list-group-item">{{ user_info.last_name}}</li>
			<li class="list-group-item list-group-item-info"><b>Date joined:</b></li>
			<li class="list-group-item">{{ user_info.date_joined|date:'H:i d, m, Y' }}</li>
			<li class="list-group-item list-group-item-info"><b>Date last login:</b></li>
			<li class="list-group-item">{{ user_info.last_login|date:'H:i d, m, Y'}}</li>
		</ul>
		<a class="btn btn-primary btn-sm mt-1 mb-1" href="javascript:history.go(-1)">Back</a>			                
	</div>
</div>
{% endblock content %}