{% extends "forum/base.html" %}
{% block content %}
	<div class="container">

		<div class="jumbotron">
			<h1>Profile</h1>
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
						<legend class="border-bottom mb-4">Update profile for user: {{ user }}
							Session Started at: {{ user.last_login |date:"H:i d, m, Y" }}</legend>
						{{ form.as_p }}
						<br>
						<p>Settings:</p>
						{{ p_form.as_p }}
                    </fieldset>				
					<button class="btn btn-success btn-sm mt-1 mb-1" type="submit">Save</button>
					<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'forum-home'  %}">Return to Index</a>	
				</form>
		</div>
    </div>
{% endblock content %}